html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

.header {
  background-image: url("../img/Rectangle 1.jpg");
  background-position: 65%;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.header__content-box {
  display: flex;
  flex-direction: column;
}
.header__social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__social-item {
  margin-bottom: 10px;
}
.header__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.header__title-box {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.header__company-name {
  font-weight: 900;
  font-size: 72px;
  line-height: 90%;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
}
.nav__menu {
  display: none;
}

.container {
  padding: 27px 24px 116px 24px;
}

.button {
  width: 230px;
  height: 50px;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  border-radius: 60px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
.button--header {
  margin: 90px 0;
}

@media all and (min-width: 768px) {
  .container {
    padding: 27px 78px;
  }

  .header__content-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header__title {
    font-size: 48px;
  }
  .header__company-name {
    font-size: 96px;
  }
  .header__title-box {
    order: 1;
  }
  .header__social-links {
    width: 20%;
    order: 2;
  }
  .header .button--header {
    order: 3;
  }
}
@media all and (min-width: 1024px) {
  .container {
    padding: 27px 160px;
  }

  .header__title {
    font-size: 72px;
  }
}